//************************************************
// Base Elements
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Notes:
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

body {
	background: $color-light;
	font-family: 'Roboto Slab', slab-serif;
	font-weight: 400;
}

p {
	margin: .45em 0 1.6em;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {}

h2 {
	margin-bottom: .65em;
}

ul, li {
	display: block;
	list-style: none;
}

ul.list {
	li {
		list-style: cicle;
	}
}

ul.horizontal {
	li {
		display: inline-block;
	}
}

ol.list {
	border: 1px solid $brand-light;
}
