//***********************************************
// Branding Colors & Style Variables
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Notes:
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
$brand-black: #000;
$brand-dark: #171d1d;
$brand-light: #efe9f4;
$brand-light-alt: #e9e9ed;
$brand-primary: #1ed9af;
$brand-blue: #5863f8;
$brand-lightblue: #5fbff9;

$color-light: #fff;

$text-font: "'Roboto-slab', slab-serif";
$text-header: 'Montserrat, Helvetica, Verdana, sans-serif';
