//********************************************
// Imports
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700';


//***********************************************
// Branding Colors & Style Variables
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@import 'config';

//***********************************************
// Resets
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@import 'reset';

//************************************************
// Base Elements
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@import 'base';

//************************************************
// Base Elements
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@import 'layout';

//************************************************
// Brand Color
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@import 'brand_color';

//************************************************
// Text & Font
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@import 'typography';

//************************************************
// Major Classes
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.header-title {
	padding: .35em;
	// top: 0;
	// left: 0;
	// position: absolute;
}

.about-section {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 4em 1em;
	min-height: 100vh;
	text-align: center;

	section {
		text-align: left;
		margin: 0 auto;
	}

	h2 {
		font-size: 2.4em;
		font-size: 12vmin;

		// max-height
		@media only screen and (max-height: 420px) {
			font-size: 2.4em;
		}
		// min-height
		@media only screen and (min-height: 700px) {
			font-size: 3.6em;
		}
	}

	p {
		font-size: 1.2em;
		font-size: 3.5vw;

		// max width
		@media only screen and (max-width: 420px) {
			font-size: 1.2em;
		}
		// min width
		@media only screen and (min-width: 700px) {
			font-size: 2em;
		}
	}
}

.main-footer {
	padding: 1em;
}

//************************************************
// Minor Sectional & sub-sectional Classes
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Notes:
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.content-section {
	padding: 1em;
}

.contact-form {
	margin-top: 1.4em;
}

.fine-print {
	margin: 0 1em .9em;
	padding: 2em .4em .5em;
	display: inline-block;
}

.talkout {
	width: 20.25em; //1296/16 / 8 = 10.125 */
	height: 16.23125em; //1042/16 / 8 = 8.140625*/
	padding: 4.8em 3.4em 2em 2.8em;
	overflow: hidden;
}



//************************************************
// Helpers
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Notes:
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.float-clear::after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.hide {
	display: none;
}

//************************************************
// Animations
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Notes:
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.page-header {
	transition: height 500ms ease-out 1s;
}


//************************************************
// Media Queries
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Notes:
//-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (orientation: landscape) {
	.page-header {
		// background-color: $brand-blue;
	}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

@media only screen and (min-width:480px) {
	.portfolio-article {
		// width: 33.3333333%;
	}
}

@media only screen and (min-width:768px){
	h2 {
		margin-bottom: 1.2em;
	}

	.hero-content .about-blurb,
	.about-section .subsection,
	.contact-section .contact-form {
		width: 75%;
	}

	.hero-content {
		padding-top: 4em;
	}

	.hero-content .about-blurb {
		width: 60%;
	}

	.content-section {
		padding: 1.6em;
	}

	.about-section {
		padding: 3em;
	}

	.portfolio-article {
		// width: 25%;
	}

	.contact-section {

		.contact-form {
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width:1200px){
	.hero-content .about-blurb {
		width: 50%;
		font-size: 3.2em;
	}
}
